# Python extensions package artifacts
build/
dist/
.eggs/
*.egg-info/

# CMake
CMakeCache.txt
CMakeFiles/

# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.sln.docstates

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Sample outputs
samples/sdxl/*.png

# Built extension, placed in the package by an editable install
directml/*.pyd
